twitter:
	consumer_key: "cDrDAXA086n8K1pMuSNx5jnF9"
	consumer_secret: "EexZ6eMyxoyiAcIdoSqYQCknUlzIiJvvcWOOLQE04hnD2XIfYI"
	token: "194596640-uneWfyjyQdZUNJueHGlFZY6aqkc8bGZ3drI3cyru"
	token_secret: "feQ2fK0xV76V0x6Du6hr4LdX6Vte0WftZhh1qrMizRofC"
