twitter:
	consumer_key: process.env.APPKEY or "cDrDAXA086n8K1pMuSNx5jnF9"
	consumer_secret: process.env.APPSECRET or "EexZ6eMyxoyiAcIdoSqYQCknUlzIiJvvcWOOLQE04hnD2XIfYI"
	tokens: [
		{token: "1651168194-L2i9M5XjpS8MP6jsasAWIdZmF9KHQsf5Tflx0Gz",token_secret: "HTgUWCKvVa4X39kX3i2BkBBZyqsDGyGyAjx9CNd5rbn96"}
	]
kafka:
	zookeeper: "wc01.us-w2.aws.ccl:2181/kafka0.8"
keywords: ["media"]
